In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
##  PATHS TO CSV FILES           (INSERT FILES HERE)

dg_file = "..//practice_sources/disc_golf_courses.csv"
ff_file = "..//practice_sources/Fast_Food_Restaurants_US.csv"

## READ CSV FILES

#ff_df = pd.read_csv(ff_file)
dg_df = pd.read_csv(dg_file)
ff_df = pd.read_csv(ff_file)

#delete unwanted columns
del ff_df['Unnamed: 0']
del dg_df['id']
del dg_df['holeCount']
del dg_df['rating']
del ff_df['latitude']
del ff_df['longitude']
del dg_df['latitude']
del dg_df['longitude']
del ff_df['websites']
del dg_df['zip']
del ff_df['country']
del ff_df['postalCode']

In [3]:
ff_df

,address,categories,city,name,province
0,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,SONIC Drive In,LA
1,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,SONIC Drive In,LA
2,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,Taco Bell,TN
3,3652 Parkway,Fast Food,Pigeon Forge,Arby's,TN
4,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,Steak 'n Shake,GA
...,...,...,...,...,...
9995,3460 Robinhood Rd,Fast Food Restaurants,Winston-Salem,Pizza Hut,NC
9996,3069 Kernersville Rd,Fast Food Restaurants,Winston-Salem,Pizza Hut,NC
9997,838 S Main St,Fast Food Restaurants,Kernersville,Pizza Hut,NC
9998,1702 Glendale Dr SW,Fast Food Restaurants,Wilson,Pizza Hut,NC
9999,1405 W Broad St,Fast Food Restaurants,Elizabethtown,Pizza Hut,NC

In [4]:
ff_df = ff_df.drop_duplicates(subset=['address'])
ff_df

,address,categories,city,name,province
0,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,SONIC Drive In,LA
2,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,Taco Bell,TN
3,3652 Parkway,Fast Food,Pigeon Forge,Arby's,TN
4,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,Steak 'n Shake,GA
5,9768 Grand River Ave,Fast Food Restaurant,Detroit,Wendy's,MI
...,...,...,...,...,...
9995,3460 Robinhood Rd,Fast Food Restaurants,Winston-Salem,Pizza Hut,NC
9996,3069 Kernersville Rd,Fast Food Restaurants,Winston-Salem,Pizza Hut,NC
9997,838 S Main St,Fast Food Restaurants,Kernersville,Pizza Hut,NC
9998,1702 Glendale Dr SW,Fast Food Restaurants,Wilson,Pizza Hut,NC
9999,1405 W Broad St,Fast Food Restaurants,Elizabethtown,Pizza Hut,NC

In [5]:
#convert state abbreviation to full

states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

ff_df['province'] = ff_df['province'].str.strip().replace(states)
ff_df = ff_df.rename(columns = {'province':'state'})
ff_df.head()

<ipython-input-5-8f3f9d0d5b08>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff_df['province'] = ff_df['province'].str.strip().replace(states)

,address,categories,city,name,state
0,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,SONIC Drive In,Louisiana
2,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,Taco Bell,Tennessee
3,3652 Parkway,Fast Food,Pigeon Forge,Arby's,Tennessee
4,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,Steak 'n Shake,Georgia
5,9768 Grand River Ave,Fast Food Restaurant,Detroit,Wendy's,Michigan

In [99]:
ff_df = ff_df.drop(['address'], axis=1)
ff_df['categories'] = 'Fast Food Restaurant'

In [100]:
ff_df = ff_df[['name', 'city', 'state', 'categories']]
ff_df

                name           city           state            categories
0     SONIC Drive In      Thibodaux       Louisiana  Fast Food Restaurant
2          Taco Bell   Pigeon Forge       Tennessee  Fast Food Restaurant
3             Arby's   Pigeon Forge       Tennessee  Fast Food Restaurant
4     Steak 'n Shake         Morrow         Georgia  Fast Food Restaurant
5            Wendy's        Detroit        Michigan  Fast Food Restaurant
...              ...            ...             ...                   ...
9995       Pizza Hut  Winston-Salem  North Carolina  Fast Food Restaurant
9996       Pizza Hut  Winston-Salem  North Carolina  Fast Food Restaurant
9997       Pizza Hut   Kernersville  North Carolina  Fast Food Restaurant
9998       Pizza Hut         Wilson  North Carolina  Fast Food Restaurant
9999       Pizza Hut  Elizabethtown  North Carolina  Fast Food Restaurant

[9302 rows x 4 columns]

In [6]:
dg_df['categories'] = 'Disc Golf Course'
dg_df

,name,city,state,categories
0,Adventist DISCovery Park,Opelika,Alabama,Disc Golf Course
1,Agape Disc Golf Course,Scottsboro,Alabama,Disc Golf Course
2,Aggieland Disc Golf,Hamilton,Alabama,Disc Golf Course
3,Agricultural Heritage Park,Auburn,Alabama,Disc Golf Course
4,Arab City Park,Arab,Alabama,Disc Golf Course
...,...,...,...,...
7003,Whippin' Post,Great Cacapon,West Virginia,Disc Golf Course
7004,Wine Cellar Disc Golf Course,Dunbar,West Virginia,Disc Golf Course
7005,Wolf Creek Disc Golf Course,Oak Hill,West Virginia,Disc Golf Course
7006,Wonderland Disc Golf Course,Minden,West Virginia,Disc Golf Course
7007,Wood County Veterans Memorial Park,Williamstown,West Virginia,Disc Golf Course

In [10]:
concat_df = pd.concat([ff_df, dg_df], ignore_index=True).set_index('state')

In [12]:
concat_df = concat_df.drop(['address'], axis=1)

In [13]:
concat_df.sort_values(by=['state'])

,categories,city,name
state,,,
Alabama,Disc Golf Course,Lexington,Golden Bear DGC
Alabama,Disc Golf Course,Hartselle,Sparkman Park - Lakeside
Alabama,Disc Golf Course,Huntsville,Southside Park
Alabama,Disc Golf Course,Smiths Station,Smiths Station Disc Golf Course
Alabama,Disc Golf Course,Talladega,Shocco Springs
...,...,...,...
Wyoming,Disc Golf Course,Pinedale,Lakeside Lodge
Wyoming,Disc Golf Course,La Grange,La Grange Disc Golf Course
Wyoming,Disc Golf Course,Jackson Hole,Jackson Hole Mountain Resort Disc Golf Course
Wyoming,Fast Food,Rock Springs,Arby's
Wyoming,Disc Golf Course,Cheyenne,F.E. Warren Air Force Base

In [14]:
concat_df.describe()

              categories     city        name
count              16310    16310       16310
unique               295     6612        7277
top     Disc Golf Course  Houston  McDonald's
freq                7008       99        1727

In [139]:
concat_df.groupby(['state', 'categories']).size().sort_values(ascending=False).unstack()

categories      Disc Golf Course  Fast Food Restaurant
state
Alabama                      122                     6
Alaska                        38                    14
Arizona                       77                   295
Arkansas                     116                    90
California                   333                  1111
Colorado                     204                   135
Connecticut                   31                    51
Delaware                      13                    38
Florida                      182                   574
Georgia                      143                   391
Hawaii                        14                    30
Idaho                        100                    50
Illinois                     287                   372
Indiana                      188                   235
Iowa                         292                   108
Kansas                       266                    67
Kentucky                     115                   154
Louisiana                     58                   194
Maine                         75                    23
Maryland                      51                   161
Massachusetts                 62                   195
Michigan                     308                   349
Minnesota                    343                   181
Mississippi                   95                    52
Missouri                     188                   151
Montana                       63                    34
Nebraska                     110                    85
Nevada                        38                   115
New Hampshire                 32                    27
New Jersey                    40                   121
New Mexico                    55                    70
New York                     139                   326
North Carolina               279                   283
North Dakota                  64                    34
Ohio                         270                   501
Oklahoma                     173                   160
Oregon                       145                   143
Pennsylvania                 208                   360
Rhode Island                   4                    13
South Carolina               125                   176
South Dakota                  77                    40
Tennessee                    157                   280
Texas                        472                   753
Utah                          78                    58
Vermont                       44                    13
Virginia                     138                   235
Washington                   134                   181
West Virginia                 70                    65
Wisconsin                    350                   174
Wyoming                       42                    28

In [173]:
concat_df.groupby('city').size().sort_values(ascending=False)

city
Houston             99
Las Vegas           78
Columbus            67
Phoenix             66
Los Angeles         60
                    ..
Indian River         1
Incline Village      1
Ina                  1
Imperial Beach       1
Zumbrota             1
Length: 6612, dtype: int64